<template>
  <div id="app">
    <div>
    {{ notReactiveData }}
    </div>
    <button @click="notReactiveData.a++">Клик</button>
  </div>
</template>

<script>
// import Vue from 'vue'

export default {
  name: 'App',
  mounted() {
    this.notReactiveData = Object.assign(this.countLocal, { a: 1, b: 2 })
  },
  data() {
    this.count = 0
    this.array = [{ foo: 'bar' }]
    return {
      countLocal: { },
      notReactiveData: {}
    }
  },
  methods: {
    handleClick() {
      if (this.notReactiveData) {
        if (!this.notReactiveData.count) {
          this.notReactiveData.count = 1

        } else {
        this.notReactiveData.count++

        }

      }
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
